<<<<<<< HEAD
*{
	box-sizing: border-box; /* tager rammen og siger alt skal med når man arbejde med paddig og margin og float*/
	padding: 0;
	margin: 0;
}

header{
	display: flex;
	justify-content: space-between;
    }

.nav{
    list-style-type: none;
    padding: 0;
    display: flex;
}

.list-item{
    margin: 0 20px 0 20px;
    padding: 10px;
}
        
=======
<!-- -->
>>>>>>> 363b74e5e738b5be711069590bbdd301d1b52298
